<h2 id="title">Welcome to Ember</h2>

{{#link-to 'store'}}Store{{/link-to}}
{{#link-to 'shoppingcart'}}ShoppingCart{{/link-to}}
{{#link-to 'admin'}}Admin{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'index'}}Return Home{{/link-to}}

{{outlet}}
