<h1>shopping cart</h1>

{{display-cart product=product}}

{{display-cost product=product}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'store'}}Store{{/link-to}}
{{#link-to 'index'}}Return Home{{/link-to}}
